.contacts {
  .container();
  display: block;
  flex-direction: column;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    @media @bw1340 {
      gap: 50px;
    }
    @media @bw768 {
      flex-wrap: wrap;
      gap: 100px;
    }
      @media @bw500 {
      flex-wrap: wrap;
      gap: 100px;
    }
  }
  &__list {
    list-style: none;
    padding-left: 0;
  }
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 67px;
    gap: 49px;
  @media @bw370 {
    gap: 15px;
  }
}
  &__item-title {
    width: 306px;
    height: 27px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: @black;
    font-family: @font1;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
     @media @bw1340 {
    width: 293px;
    font-size: 20px;
  }
   @media @bw768 {
    width: 273px;
    height: 24px;
    line-height: 25px;
    font-size: 18px;
    font-weight: 700;
  }
    @media @bw370 {
    width: 212px;
    height: 19px;
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
  }
  }
  &__item-info {
    width: 236px;
    height: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
    color: @black;
    font-family: @font1;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    @media @bw370 {
    width: 113px;
    height: 19px;
    font-size: 14px;
    line-height: 19px;
  }
  }
  

  &__map {
    // position: relative;
    // overflow: hidden;
    width: 100%;
    max-width: 750px;
    height: 491px;
    margin: 0;
    padding: 0;
    @media @bw1340 {
      width: 100%;
      max-width: 752px;
      height: 491px;
    }
    @media @bw768 {
      width: 100%;
      max-width: 708px;
      height: 464px;
    }
    @media @bw370 {
      width: 100%;
      max-width: 280px;
      height: 186px;
    }
  }
  &__item-mark {
  display: grid;
  grid-template-columns: 1fr 60%;
  align-items: center;

  }
  &__item-icon {
    width: 47px;
    height: 47px;
    min-width: 110px;
    min-height: 110px;
    object-fit: contain;
     @media @bw370 {
      max-width: 65px;
      height: 65px;
      object-fit: contain;
  }
}
}
