.listing {
  .container ();
  display: block;
  flex-direction: column;
  &__events-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px - 120px;
    // gap: 120px 58px;

    @media @bw1660 {
      margin: 0 -20px -100px;
    }

    @media @bw1340 {
      margin: 0 -15px -100px;
    }

    @media @bw1020 {
      justify-content: center;
      margin: 0 -15px -80px;
    }

    @media @bw768 {
      margin: 0 -10px -80px;
    }

    @media @bw650 {
      margin: 0 0 -60px;
      justify-content: center;
    }
  }
  &__event-card {
    width: calc(33.3333% - 58px);
    margin: 0 30px 120px;
    @media @bw1660 {
      width: calc(33.3333% - 40px);
      margin: 0 20px 100px;
    }
    @media @bw1340 {
      width: calc(33.3333% - 30px);
      margin: 0 15px 100px;
    }

    @media @bw1020 {
      width: calc(50% - 30px);
      max-width: 405px;
      margin: 0 15px 80px;
    }

    @media @bw768 {
      margin: 0 10px 80px;
    }

    @media @bw650 {
      width: 100%;
      margin: 0 0 60px;
      max-width: 500px;
    }
  }
  &__link {
    color: @black;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 88px 0 0 40px;
    text-decoration: none;
    font-family: @font1;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    align-items: center;
    @media @bw1170 {
    box-sizing: border-box; 
     max-width: 708px;
}
  }
}
