html, 
body {
    width: 100%; 
    margin: 0; 
    padding: 0; 
}
body {
    position: relative;
    box-sizing: border-box; 
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
    padding-top: 147px;
    font-family: "Open Sans", sans-serif;
}

.page-header {
   position: fixed; 
   top: 0;  
   left: 0; 
   width: 100%; 
   height: 147px; 
   display: flex; 
   align-items: center; 
   background-color: fgba(222, 222, 222, 0.5); 
   backdrop-filter: blur(20px); 
   z-index: 100; 
   text-decoration: none; 

}

.page-header__container,
.about__container {
    box-sizing: border-box; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    max-width: 1414px; 
    margin: 0 auto; 
    padding-left: 40px; 
    padding-right: 40px;
     text-decoration: none;    
}

.page-header__logo {
    flex-shrink: 0; 
    width: 202px; 
    height: 147px;
    font-size: 0; 
    text-decoration: none; 
}

.page-header__logo-incon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.page-header__right-block {
    width: 202px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.page-header__nav {
    display: flex;
    gap: 50px; 
    text-decoration: none;

}

.page-header__nav-link {
    margin: 0;
    color: #1f1e1e;
    font-weight: 600; 
    font-size: 1.38; 
    line-height: 25px;
    text-decoration: none; 
    transition: color 0.2s; 
}

.page-header__nav-link:hover {
    color: #bc3324;  
}
main {
    background-color: oklch(59.704% 0.11125 232.136);
    flex: 1 0 auto;
}

.page-footer {
    background-color: rgb(236, 236, 236); 
    flex: 1 0 auto; 
}

.btn {

    display: inline-flex; 
    box-sizing: border-box; 
    padding: 15px 40px;
    border: 1px solid #1f1e1e;
    background-color: transparent;
    outline: none; 
    color: #1f1e1e;
    font-family: "Open Sans", sans-serif; 
    font-weight: 600; 
    font-size: 16px;  
    line-height: 2Opx; 
    text-align: center;
    text-decoration: none;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    overflow: hidden;
    cursor: pointer; 
}

.btn:hover {
    color: #ffffff; 
    background-color: #1f1e1e; 
    border-color: #1f1e1e; 
}

.event {
padding: 40px 0 150px;

}

.reserve {
    display: grid; 
    grid-template-columns: 405рх 1fr; 
    /* grid-template-columns: 405px calc(89% - 405px);  две колонки: первая фиксированной ширины 405 пикселей, вторая занимает 89 процентов минус 405 пикселей */
    gap: 65px 11%;
    grid-template-areas :
    "checks-scheme"
    "order-legend";
    width: 100%;
}

.reserve__checks {
    grid-area: checks;
    background-color: yellow;
}

.reserve__scheme {
    grid-area: scheme;
    background-color: rgb (255, 162, 0); 
}

.reserve > div {
  box-sizing: border-box;
  padding: 10px;
  background-color: coral;
  text-align: center;
}
.order__order {
grid-area: order;
background-color: rgb (255, 162, 0);
}

.orde__legend {
grid-area: legend;
 background-color: rgb (255, 162, 0);
}

.about__block2 {
    display: grid; 
    grid-template-columns: 1fr 406px;
    gap: 90px 65px; 
    grid-template-areas : 
    "pic pic2"
    "title pic2"
    "text text";
}

.about__picture {
    grid-area: pic; 
}

.about__title {
    grid-area: title; 
    margin: 10 px 0 0; 
    font-size: 44px; 
    font-weight: 700;
}

.about__picture2 {
    grid-area: pic2; 
    align-self: flex-end;
}


.about__text {
    grid-area: text;
    margin: 0 80px 0 auto;  
    max-width: 870px;
    width: 100%;
}

	
.section-title {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;  
  width: 100%;
  max-width: 624px;
  min-height: 62px;
  margin: 0 auto 150px;
  padding: 8px 45px;
  background-color: #1F1E1E;
  color: #ffffff;
  font-family: "Lora", serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.277;
  text-align: center;
  text-transform: uppercase;
}

.listing {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1414px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

.listing__events-list {
  display: flex;
  flex-wrap: wrap;
}

.events {
  padding: 140px 0 100px;
}

.events__listing {
  margin-bottom: 100px;
}

.event-card {
  display: flex;
  width: 406px;
  max-width: 100%;
  min-width: 280px;
}

.event-card__link {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #1F1E1E;
  text-decoration: none;
}

.event-card__link:hover .event-card__title {
  color: #BC3324;
  text-decoration-color: #BC3324;
}

.event-card__picture {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 0 25px;
  font-size: 0;
  text-decoration: none;
  overflow: hidden;
}

.event-card__picture::after {
  content: "";
  display: block;
  width: 100%;
  padding-top: 107.16%;
}

.event-card__img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-card__title {
  margin: 0 0 15px;
  min-height: 66px;
  color: #1F1E1E;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  text-decoration: underline transparent;
  transition: color 0.2s, text-decoration-color 0.2s;
}

.event-card__description {
  margin: 0 0 auto;
  font-size: 16px;
  line-height: 22px;
}

.event-card__time {
  margin: 15px 0 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
}

	
.listing__events-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -29px -120px;
}

.listing__event-card {
  width: calc(33.3333% - 58px);
  margin: 0 29px 120px;
}
















h1 {
    color: red;
}